*

!.github/
!assets/
!.editorconfig
!.gitattributes
!.gitignore
!.justfile
!.pre-commit-config.yaml
!README.md

!src/
!src/**/
!shared/
!shared/**/
!scripts/
!scripts/**/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.py
!*.toml
!*.yaml
!*.ini
